header{
  color: #ffffff;
  min-height: 70px;
  background-position: center center;
  background-size: cover;
  background-image: url('../img/13.jpg');
}

.header{
  opacity: 0.8;
  background: #468FC8;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #898989 7px solid;
  overflow: hidden;
  position:sticky;
}
header .current{
  color: #D4D4D4;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
}

#boarder{
  border-bottom: #468FC8 60px solid ;
  opacity: 0.8;
}

#inboard{
  border-top: #898989 7px solid;
}

/* NOTE: Body */
#showcase{
  margin-top: 150px;
  min-height: 300px;
  text-align: center;
  color: #ffffff;
}
