/* Global */
body{
  font: 15px/1.5 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e6e6e6
}

body, html{
  height: 100%;
  margin: 0;
}

.content{
  min-height: 90%;
  margin-bottom: 20px;
}
/* !Global */

/* Index */

.parallax{
  background-image: url(../img/official/official.jpg);
  margin-top: 2em;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 150%;
  background-attachment: fixed;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: 3px solid #f1f1f1;
  position: static;
  transform: translate(12%,-143%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.bg-text h1{
  font-weight: bold;
  font-size: 20px;
}

.about{
  width: 70%;
  margin: auto;
  margin-top: 3em;
  left: 50%;
}

.about .card-title{ 
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

/* NOTE: slider */

.companies h2{
  text-align:center;
  font-weight: bold;
  padding: 70px;
}

.companies{
  width: 90%;
  margin: auto;
  padding-left: 2em;
}

.customer-logos slider slick-initialized slick-slider{
  height: 40px;
  margin-bottom: 70px;

}

.slick-slide img {
    width: 50%;
}

.customer-logos slider{
  width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: center;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}

.slick-track:after
{
    clear: both;
}

.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide
{
    float: right;
}

.slick-slide img
{
    display: block;
}

.slick-slide.slick-loading img
{
    display: none;
}

.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-initialized .slick-slide
{
    display: block;
}

.slick-loading .slick-slide
{
    visibility:hidden;
}

.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */

/* !Index */

/* Gallery */

 .gallery {
  width: 90%;
  margin: 50px auto;
}

.item {
  width: 80%;
}

/* !Gallery */

/* Contact */

  .details {
  position: relative;
  }

  .details .title {
  font-size: 25px;
  color: #468FC8;
  text-transform: uppercase;
  }

  .details {
    font-size: 20px;
  }
 

  .details li:last-child {
  border-bottom: none; 
  }

  .details .opening-hours li.today {
  color: #468FC8; 
  }

iframe{
  width: 100%;
  height: 400px;;
  min-width: 80%;
  border: 0px;
}

.range img{
  width: 70%;;
}



/* contact */


@media screen and (min-width: 700px) {

.custom-collapse .collapse{
            display:block;
            visibility: visible;
      }

}

@media screen and (max-width:580px){

  .parallax{
    height: 130%;
  }

  .bg-text{
    transform: translate(12%,-125%);
  }

  .about{
    margin-top: 2em;
    width: 100%;
  }
  
  .range img{
    width: 100%;
  }
}

@media screen and (max-width: 340px){

  figcaption p {
   font-size: 13px;
  }

 
}

footer img{
  margin-top: 10px;
  height: 25px;
  width: auto;
}

.page-footer{
  margin-top: 20px;
}

.footer-copyright{
  color: #ffffff;
  background-color: #468FC8;
}
